/*
  前端样式库

  Author: duanyc
*/
/**  告警等级  **/
/**  字体大小相关  **/
/**  深色主题字体颜色  **/
/** SSA 按钮渐变 **/
/**  辅助样式  **/
.margin-top-8 {
  margin-top: 8px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-right-10 {
  margin-right: 10px;
}
.padding-left-6 {
  padding-left: 6px;
}
.padding-left-8 {
  padding-left: 5px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-20 {
  padding-left: 20px;
}
.height-100 {
  height: 100%;
}
.height-120px {
  height: 100px;
}
.height-echart {
  height: 240px;
}
.height-120px {
  height: 100px;
}
.height-200px {
  height: 200px;
}
.height-492px {
  height: 492px;
}
.height-460px {
  height: 460px;
}
.line-gray {
  height: 0;
  border-bottom: 2px solid #dcdcdc;
}
.notwrap {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.padding-left-5 {
  padding-left: 10px;
}
[v-cloak] {
  display: none;
}
body {
  font-family: "Microsoft YaHei" !important;
}
/** 以下内容为SSA需要 **/
.ivu-menu-dark,
.ivu-menu {
  background: transparent;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
  background: transparent;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #4386F6;
  background: transparent;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title .layout-text {
  color: #4386F6;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title:hover {
  color: #4386F6 !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title:hover .layout-text {
  color: #4386F6;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover {
  color: #4386F6 !important;
  background: transparent;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active {
  color: #4386F6;
  background: transparent !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active .layout-text {
  color: #4386F6;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active .position-hr {
  font-size: 25px;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
  background: transparent !important;
}
.ivu-menu-submenu .ivu-menu-submenu-title:hover {
  background-color: transparent !important;
}
.vue-scroller-bars-scroll {
  background: rgba(255, 255, 255, 0.1) !important;
  border: 0 none !important;
}
.vue-scroller-bars-scroll-bar {
  background: rgba(255, 255, 255, 0.4) !important;
  border-radius: 0 !important;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
.ivu-table-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.ivu-table-wrapper .ivu-table-cell {
  color: #fff !important;
}
.ivu-table-wrapper .ivu-table {
  background: transparent;
}
.ivu-table-wrapper .ivu-table:before,
.ivu-table-wrapper .ivu-table:after {
  background-color: transparent;
}
.ivu-table-wrapper .ivu-table th {
  background-color: transparent !important;
}
.ivu-table-wrapper .ivu-table td {
  background: transparent;
}
.ivu-table-wrapper .ivu-table .ivu-table-tbody tr:hover {
  background: rgba(255, 255, 255, 0.2);
}
.ivu-table-wrapper .ivu-table-stripe .ivu-table-body tr:nth-child(2n) td,
.ivu-table-wrapper .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
  background-color: rgba(255, 255, 255, 0.2);
}
.ivu-table-wrapper .ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td,
.ivu-table-wrapper .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td,
.ivu-table-wrapper tr.ivu-table-row-hover td {
  background-color: rgba(255, 255, 255, 0.1);
}
.ivu-table-border td,
.ivu-table-border th {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.ivu-table td,
.ivu-table th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ivu-tabs-ink-bar {
  background-color: #CC0033;
}
.ivu-tabs-tab {
  color: #fff;
}
.ivu-tabs-nav .ivu-tabs-tab-active {
  color: #fff;
}
.ivu-tabs-tab:hover {
  color: #fff !important;
}
.ivu-tabs-bar {
  border-bottom: none;
}
.main .single-page-con {
  background: none;
}
.ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  background: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 0 0 0 0;
}
.ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
  background: rgba(255, 255, 255, 0.3);
  color: #D0D0D0;
}
.ivu-btn {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 0 0 0 0;
  color: #fff;
}
.ivu-btn:hover {
  background: rgba(204, 204, 204, 0.3);
  color: #D0D0D0;
}
.ivu-btn.active {
  background: rgba(204, 204, 204, 0.3);
  color: #D0D0D0;
}
.ivu-date-picker .ivu-date-picker-rel .ivu-date-picker-editor .ivu-input {
  background-color: transparent;
  border: 1px solid #ccc;
  top: 1px;
  height: 27px;
}
.ivu-date-picker .ivu-date-picker-rel .ivu-date-picker-editor .ivu-input-icon {
  color: #ccc;
}
.ivu-date-picker .ivu-select-dropdown {
  background-color: #0B0C21;
}
.ivu-date-picker-cells-cell em {
  color: #ccc;
}
.ivu-date-picker-cells-cell-next-month em,
.ivu-date-picker-cells-cell-prev-month em {
  color: #fff;
}
.main .single-page-con .single-page {
  height: 100%;
  margin: 0 10px;
}
.ivu-modal-content {
  background-color: #0b0c21;
}
.ivu-modal-content .ivu-modal-header {
  border-bottom: 0 solid #0b0c21;
}
.ivu-modal-content .ivu-modal-footer {
  border-top: 0 solid #0b0c21;
}
.ivu-page-next,
.ivu-page-prev {
  background-color: transparent;
  border: none;
}
.ivu-page-next:hover,
.ivu-page-prev:hover {
  color: #fff;
}
.ivu-page-item {
  background-color: transparent;
  border: none;
}
.ivu-page-item:hover a {
  color: #fff;
}
.ivu-page-item-jump-next {
  border: none;
}
.ivu-page-next:hover a {
  color: #fff;
}
.ivu-page-item-jump-prev,
.ivu-page-item-jump-next {
  border: none;
}
.ivu-page-item-jump-prev a,
.ivu-page-item-jump-next a {
  color: #fff;
}
/*# sourceMappingURL=common.css.map */